<!-- Grid toolbar -->
<instant-grid-toolbar [page]="currentPage" [pageSize]="pageSize" (pageChange)="onPage($event)" [total]="total">
  My Grid Header
</instant-grid-toolbar>
<div class="example-container">
  <!-- Grid definition -->
  <instant-grid [dataSource]="data" class="striped" (rowClicked)="rowClicked($event)" [selectedIndex]="currentIndex" [sticky]="true">
    <instant-column name="id" #idCol>
      <!-- Custom filter -->
      <ng-template #filter let-col="col">
        Custom Filter Test
      </ng-template>
      <ng-template #cell let-row="row" let-col="col">{{ row[col] }}</ng-template>
    </instant-column>

    <instant-column name="name" [instant-style]="{'min-width': '120px'}"></instant-column>
    <instant-column name="type"></instant-column>
    <instant-column name="uuid"></instant-column>
    <instant-column name="actions" label="" [filterable]="false" [sortable]="false">
      <!-- Custom cell renderer -->
      <ng-template #cell let-row="row" let-col="col">
        <instant-grid-row-menu [row]="row">
          Custom row menu test
        </instant-grid-row-menu>
      </ng-template>
    </instant-column>
  </instant-grid>
</div>
